.button {
  font: inherit;
  background: rgb(216, 161, 78);
  color: white;
  font-weight: 500;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: rgb(206, 166, 106);
  border-color: rgb(190, 155, 102);
}

.button:focus {
  outline: none;
}
